
<div class="row">
    <div class="col-sm-12">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= currentUser.username %></p>
    </div>
  </div>

<div class="row ">

    <div class="col-lg-12 col-sm-12 m-auto">
    <%- include('partials/messages.ejs') %>

    <% posts.forEach(function(post) { %>

        <!-- Blog Post -->
     <div class="card mb-4">
       <img class="card-img-top" src="<%= '/images/coverpic/' + post.coverImage  %>"  alt="Card image cap">
       <div class="card-body">
         <h2 class="card-title"><%= post.title %></h2>
         <p class="card-text"> <%- post.postBody.substring(0, 400) %></p>
         <a href="/blog/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
         <a href="/blog/<%= post._id %>/edit" class="btn btn-info">Edit &rarr;</a>
         <form action="/blog/<%= post._id %>/delete?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete &rarr;</button>
        </form>
         
       </div>
       <div class="card-footer text-muted">
         Posted on <%= post.date.toDateString() %> by
         <a href="#"><%= post.author %></a>
       </div>
     </div>
     <% }); %>
    
    
     <!-- Pagination -->
     <ul class="pagination justify-content-center mb-4">
      <% if(paginationObject.previous){%> 
       <li class="page-item">
         <a class="page-link" href="/dashboard?page=<%= paginationObject.previous.page %>&limit=5">&larr; Older</a>
       </li>
       <% } %>
       <% if(paginationObject.next){%> 
       <li class="page-item">
         <a class="page-link" href="/dashboard?page=<%= paginationObject.next.page %>&limit=5">Newer &rarr;</a>
       </li>
       <% } %>

     </ul>
       
   </div>
    </div>



